[
    {rabbit, [
    {ssl_listeners, [{{ rabbitmq_port }}]},
    {ssl_options, [{cacertfile,"{{ rabbitmq_ssl_path }}/cacert.pem"},
                   {certfile,"{{ rabbitmq_ssl_path }}/cert.pem"},
                   {keyfile,"{{ rabbitmq_ssl_path }}/key.pem"},
                   {verify,verify_peer},
                   {fail_if_no_peer_cert,true}]}
  ]}
].
